<input [type]="type" [formControl]="control" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
      duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" [placeholder]="placeholder"
    [mask]="format"  [dropSpecialCharacters]="false"/>
<ng-container *ngIf="control.touched && control.dirty">
    <p *ngIf="control.errors?.required" class="text-red-400">
        Field is required
    </p>
    <p *ngIf="control.errors?.minlength" class="text-red-400">
        The value eyou imputted is
        {{control.errors?.minlength.actualLength}}
        characters long.
        It must me at least
        {{control.errors?.minlength.requiredLength}}
        characters long.
    </p>
    <p class="text-red-400" *ngIf="control.errors?.email">
        You must enter a valid email
    </p>
    <p class="text-red-400" *ngIf="control.errors?.min">
        Value too low
    </p>
    <p class="text-red-400" *ngIf="control.errors?.max">
        Value too high
    </p>
    <p class="text-red-400" *ngIf="control.errors?.pattern">
        Password must be at least 8 characters long, have 1 uppercase letter, 1 lowercase letter and 1 number.
    </p>
    <p class="text-red-400" *ngIf="control.errors?.noMatch">
        Passwords do not match.
    </p>
    <p class="text-red-400" *ngIf="control.errors?.emailTaken">
       Email taken, please try another email.
    </p>
</ng-container>